{% extends 'global/base.html' %}
{% load static %}


{% block title %}
Categorias
{% endblock %}


{% block content %}
<div class="container-scroller">
    {% include 'global/components/navbar.html' %}
    <!-- Content -->
    <div class="container-fluid page-body-wrapper">
        {% include 'global/components/sidebar.html' %}
        <div class="main-panel">
            {% include 'global/components/loader.html' %}
            <div class="content-wrapper loader-await" id="content-productos">
            <div class="col-12 grid-margin">
                <h1 class="text-light bg-dark pl-1 display-1">Categorias</h1>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Crear Categoria</h4>
                        <form class="form-sample">
                            <div class="col-sm-12 row">
                                <div class="form-group col-sm-6">
                                    <label for="categoria_nombre">Nombre de la categoria</label>
                                    <input type="text" class="form-control input-limpiable" id="categoria_nombre" placeholder="Nombre">
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="categoria_descripcion">Descripcion</label>
                                    <input type="text" class="form-control input-limpiable" id="categoria_descripcion" placeholder="Descripcion">
                                </div>
                            </div>
                        </form>
                        <button type="button" class="btn btn-outline-warning btn-fw" onclick="LimpiarCampos()">
                            Limpiar Campos
                        </button>
                        <button type="button" class="btn btn-outline-success btn-fw" onclick="CrearCategoria()">
                            Crear Categoria
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Listado General de Categorias</h4>
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table class="table data-table">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Nombre</th>
                                                <th>Descripcion</th>
                                                <th>Opciones</th>
                                            </tr>
                                        </thead>
                                        <tbody id='categorias-t-body'>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            {% include 'global/components/footer.html' %}
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
{% include 'global/components/modal.html' %}
{% endblock %}


{% block js %}
<script src="{% static 'global/js/productos/script.js' %}"></script>

<script>
    const getCategoriasTable = async () => {
        try {
            const { data } = await axios.get('categorias/')
            let categoriasHtml = ''
            let cont = 0
            for (categoria of data) {
                categoriasHtml +=
                    `
                        <tr>
                            <td>${++cont}</td>
                            <td>${categoria.nombre}</td>
                            <td>${categoria.descripcion}</td>
                            <td>
                                <i class="mdi mdi-eye-outline mr-3" onclick="CategoriaDetalle(${categoria.id})"
                                    data-toggle="modal" data-target="#modal"></i>
                                <i class="mdi mdi-trash-can adminonly" onclick="CategoriaEliminar(${categoria.id})"></i>
                            </td>
                        </tr>
                    `
            }
            $('#categorias-t-body').html(categoriasHtml)
            InitDataTable()
        } catch (err) {
            showAlert('error-message', {
                title: 'No se pudieron cargar las categorias, intente mas tarde'
            })
        }
    }

    const CategoriaEliminar = async categoriaId => {
        showAlert('warning-message-and-cancel', {
            title: 'Eliminar Categoria',
            text: 'Esta seguro que quiere eliminar la categoria?'
        })

        $('.swal-button--confirm').on('click', async function() {            
            try {
                MostrarLoader()
                const response = await axios.patch(`categorias/${categoriaId}/`, {estado: 2})
                if (response.status === 200) {
                    OcultarLoader()
                    showAlert('success-message', {
                        title: 'Categoria eliminada con exito'
                    })
                    $('.btn-success-confirm').on('click', function () {
                        location.reload()
                    })
                }
            } catch (err) {
                OcultarLoader()
                showAlert('error-message', {title: 'No se pudo eliminar la categoria, intente mas tarde'})
            }
        })   
    }

    const CategoriaDetalle = async categoriaId => {
        const bodyHtml = `
            <form class="">
                <div class="form-group">
                    <label for="categoria_nombre_modal">Nombre de la categoria</label>
                    <input type="text" class="form-control" id="categoria_nombre_modal" placeholder="Nombre">
                </div>
                <div class="form-group">
                    <label for="categoria_descripcion_modal">Descripcion</label>
                    <input type="text" class="form-control" id="categoria_descripcion_modal" placeholder="Categoria">
                </div>
            </form>
        `
        const footerHtml = `
            <button type="button" class="btn btn-info btn-rounded btn-fw loader-await adminonly" id="btn_editar_categoria">Guardar Cambios</button>
            <button type="button" class="btn btn-light btn-rounded btn-fw adminonly" data-dismiss="modal">Cancelar</button>
        `
        ShowModal('modal', 'Detalle de la categoria', bodyHtml, footerHtml)
        await ValidarPermisos()
        try {
            MostrarLoader()
            const { data } = await axios.get(`categorias/${categoriaId}/`)
            $('#categoria_nombre_modal').val(data.nombre)
            $('#categoria_descripcion_modal').val(data.descripcion)
            OcultarLoader()
        } catch (err) {
            OcultarLoader()
            showAlert('error-message', {title: 'No se pudieron cargar los datos de la categoria'})
        }

        $('#btn_editar_categoria').on('click', async () => {
            const categoria_nombre = $('#categoria_nombre_modal').val()
            const categoria_descripcion = $('#categoria_descripcion_modal').val()

            if ( categoria_nombre === '') {
                showDangerToast('El nombre de la categoria requerido')
                return
            }

            const data = {
                nombre: categoria_nombre,
                descripcion: categoria_descripcion
            }

            showAlert('warning-message-and-cancel', {
                title: 'Editar Categoria',
                text: 'Esta seguro que quiere guardar los cambios?'
            })

            $('.swal-button--confirm').on('click', async function() {            
                try {
                    MostrarLoader()
                    const response = await axios.patch(`categorias/${categoriaId}/`, data)
                    if (response.status === 200) {
                        OcultarLoader()
                        showAlert('success-message', {
                            title: 'Categoria editada con exito'
                        })
                        $('.btn-success-confirm').on('click', function () {
                            location.reload()
                        })
                    }
                } catch (err) {
                    OcultarLoader()
                    showAlert('error-message', {title: 'No se pudieron editar los datos de la categoria, intente mas tarde'})
                }
            })

        })
    }

    ( async () => {
        MostrarLoader()
        await getCategoriasTable()
        await ValidarPermisos()
        OcultarLoader()
    })()
</script>
{% endblock %}