{% extends 'global/base.html' %}
{% load static %}


{% block title %}
Presentaciones
{% endblock %}


{% block content %}
<div class="container-scroller">
    {% include 'global/components/navbar.html' %}
    <!-- Content -->
    <div class="container-fluid page-body-wrapper">
        {% include 'global/components/sidebar.html' %}
        <div class="main-panel">
            {% include 'global/components/loader.html' %}
            <div class="content-wrapper loader-await" id="content-presentaciones">
            <div class="col-12 grid-margin">
                <h1 class="text-light bg-dark pl-1 display-1">Presentaciones</h1>
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Crear Presentacion</h4>
                        <form class="form-sample">
                            <div class="col-sm-12 row">
                                <div class="form-group col-sm-6">
                                    <label for="presentacion_nombre">Nombre de la presentacion</label>
                                    <input type="text" class="form-control input-limpiable" id="presentacion_nombre" placeholder="Nombre">
                                </div>
                                <div class="form-group col-sm-6">
                                    <label for="presentacion_descripcion">Descripcion</label>
                                    <input type="text" class="form-control input-limpiable" id="presentacion_descripcion" placeholder="Descripcion">
                                </div>
                            </div>
                        </form>
                        <button type="button" class="btn btn-outline-warning btn-fw" onclick="LimpiarCampos()">
                            Limpiar Campos
                        </button>
                        <button type="button" class="btn btn-outline-success btn-fw" onclick="CrearPresentacion()">
                            Crear Presentacion
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Listado General de Presentaciones</h4>
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive">
                                    <table class="table data-table">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Nombre</th>
                                                <th>Descripcion</th>
                                                <th>Opciones</th>
                                            </tr>
                                        </thead>
                                        <tbody id='presentaciones-t-body'>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            {% include 'global/components/footer.html' %}
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
{% include 'global/components/modal.html' %}
{% endblock %}


{% block js %}
<script src="{% static 'global/js/productos/script.js' %}"></script>

<script>
    const getPresentacionesTable = async () => {
        try {
            const { data } = await axios.get('presentaciones/')
            let presentacionesHtml = ''
            let cont = 0
            for (presentacion of data) {
                presentacionesHtml +=
                    `
                        <tr>
                            <td>${++cont}</td>
                            <td>${presentacion.nombre}</td>
                            <td>${presentacion.descripcion}</td>
                            <td>
                                <i class="mdi mdi-eye-outline mr-3" onclick="PresentacionDetalle(${presentacion.id})"
                                    data-toggle="modal" data-target="#modal"></i>
                                <i class="mdi mdi-trash-can adminonly" onclick="PresentacionEliminar(${presentacion.id})"></i>
                            </td>
                        </tr>
                    `
            }
            $('#presentaciones-t-body').html(presentacionesHtml)
            InitDataTable()
        } catch (err) {
            showAlert('error-message', {
                title: 'No se pudieron cargar las presentaciones, intente mas tarde'
            })
        }
    }

    const PresentacionEliminar = async presentacionId => {
        showAlert('warning-message-and-cancel', {
            title: 'Eliminar Presentacion',
            text: 'Esta seguro que quiere eliminar la presentacion?'
        })

        $('.swal-button--confirm').on('click', async function() {            
            try {
                MostrarLoader()
                const response = await axios.patch(`presentaciones/${presentacionId}/`, {estado: 2})
                if (response.status === 200) {
                    OcultarLoader()
                    showAlert('success-message', {
                        title: 'Presentacion eliminada con exito'
                    })
                    $('.btn-success-confirm').on('click', function () {
                        location.reload()
                    })
                }
            } catch (err) {
                OcultarLoader()
                showAlert('error-message', {title: 'No se pudo eliminar la presentacion, intente mas tarde'})
            }
        })   
    }

    const PresentacionDetalle = async presentacionId => {
        const bodyHtml = `
            <form class="">
                <div class="form-group">
                    <label for="presentacion_nombre_modal">Nombre de la Presentacion</label>
                    <input type="text" class="form-control" id="presentacion_nombre_modal" placeholder="Nombre">
                </div>
                <div class="form-group">
                    <label for="presentacion_descripcion_modal">Descripcion</label>
                    <input type="text" class="form-control" id="presentacion_descripcion_modal" placeholder="Presentacion">
                </div>
            </form>
        `
        const footerHtml = `
            <button type="button" class="btn btn-info btn-rounded btn-fw loader-await adminonly" id="btn_editar_presentacion">Guardar Cambios</button>
            <button type="button" class="btn btn-light btn-rounded btn-fw adminonly" data-dismiss="modal">Cancelar</button>
        `
        ShowModal('modal', 'Detalle de la Presentacion', bodyHtml, footerHtml)
        await ValidarPermisos()
        try {
            MostrarLoader()
            const { data } = await axios.get(`presentaciones/${presentacionId}/`)
            $('#presentacion_nombre_modal').val(data.nombre)
            $('#presentacion_descripcion_modal').val(data.descripcion)
            OcultarLoader()
        } catch (err) {
            OcultarLoader()
            showAlert('error-message', {title: 'No se pudieron cargar los datos de la presentacion'})
        }

        $('#btn_editar_presentacion').on('click', async () => {
            const presentacion_nombre = $('#presentacion_nombre_modal').val()
            const presentacion_descripcion = $('#presentacion_descripcion_modal').val()

            if ( presentacion_nombre === '') {
                showDangerToast('El nombre de la presentacion requerido')
                return
            }

            const data = {
                nombre: presentacion_nombre,
                descripcion: presentacion_descripcion
            }

            showAlert('warning-message-and-cancel', {
                title: 'Editar Presentacion',
                text: 'Esta seguro que quiere guardar los cambios?'
            })

            $('.swal-button--confirm').on('click', async function() {            
                try {
                    MostrarLoader()
                    const response = await axios.patch(`presentaciones/${presentacionId}/`, data)
                    if (response.status === 200) {
                        OcultarLoader()
                        showAlert('success-message', {
                            title: 'Presentacion editada con exito'
                        })
                        $('.btn-success-confirm').on('click', function () {
                            location.reload()
                        })
                    }
                } catch (err) {
                    OcultarLoader()
                    showAlert('error-message', {title: 'No se pudieron editar los datos de la presentacion, intente mas tarde'})
                }
            })

        })
    }

    ( async () => {
        MostrarLoader()
        await getPresentacionesTable()
        await ValidarPermisos()
        OcultarLoader()
    })()
</script>
{% endblock %}